{% extends 'base.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('gestion_avis_conseils/avis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestion_avis_conseils_avis_index') }}">back to list</a>

    {{ include('gestion_avis_conseils/avis/_delete_form.html.twig') }}
{% endblock %}
